* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(130deg, #f6d365 0%, #fda085 100%);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;  
}

header {
  font-size: 1.5rem;
  
}

header,
form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input {
  padding: .1rem;
  font-size: 1.5rem;
  max-width: 10rem;
  border: none;
  background: white;
}

form button {    
  font-size: 1.7rem;
  color: #ff6f47;
  border: none;
  padding: .0rem;
  padding-right: .25rem;
  padding-left: .25rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: #ff6f47;
  color: white;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2rem, black solid;
}

.todo-list {
  min-width: 25rem;
  list-style: none;
}

.todo {
  margin: 2.5rem;
  background: white;
  font-size: 1.25rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}

.filter-todo {
  padding: .25rem;  
  min-width: 8rem;
}

.todo li {
  flex: 1;
  }

.trash-btn{
background: #eb0101;
  color: white;
  border: none;
  padding-top: .15rem;
  padding-bottom: .20rem;
  padding-left: .5rem;
  padding-right: .5rem;
  cursor: pointer;
  font-size: 1.25rem;
}

.trash-btn:hover {
  background: white;
  color:  #eb0101;
}

.complete-btn {
  background: rgb(14, 170, 0);
  color: white;
  border: none;
   padding-top: .15rem;
  padding-bottom: .20rem;
   padding-left: .5rem;
  padding-right: .5rem;
  cursor: pointer;
  font-size: 1.25rem;
}

.complete-btn:hover {
  background: white;
  color:  rgb(14, 170, 0);
}

.todo-item {
  padding-left: .25rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  color: #eb0101;
  opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
  min-width: 4rem;
}

select {
  color: #ff6f47;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 4rem;
}

/* Arrow */
.select::after {
  content: "\25BC";
  color:#ff6f47;
  position: absolute;
  top: 0;
  right: 0;
  padding-right: .35rem;
  padding-top: .15rem;
  cursor: pointer;
  pointer-events: none;
}

/*Transition
.select:hover::after {
  transform: scale(1.5);
} */

